:root {
  --cor-primaria: #2c3e50;
  --cor-secundaria: #e74c3c;
  --cor-background: #f9f9f9;
  --cor-texto: #333333;
  --cor-texto-secundaria: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--cor-background);
  height: 100vh;
}

.header {
  background-color: var(--cor-primaria);
  color: #fff;
  padding: 40px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin: 0;
}

h2:hover {
  cursor: pointer;
}

.body {
  padding: 32px 76px;
  border: 1px solid var(--cor-background);
  border-radius: 12px;

}

.title {
  color: var(--cor-primaria);
  font-size: 24px;
  margin-bottom: 10px;
}

.article {
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  color: var(--cor-texto);
}

.footer {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-secundaria);
  padding: 24px 0 48px 0;
  text-align: center;
}

.footer p {
  color: var(--cor-texto-secundaria);
}

.footer a {
  color: var(--cor-texto-secundaria);
  margin: 0 5px;
  text-decoration: none;
}

.footer a[href^="mailto"] {
  color: var(--cor-secundaria);
  font-weight: bold;
}

.footer a[href^="http"] {
  color: var(--cor-texto-secundaria);
  text-decoration: underline; 
}

.footer a[href^="mailto"]:hover {
  color: red;
}

.footer a[href^="http"]:hover, span a:hover {
  color: blue;
}

#textoContratacao {
  display: none;
  color: var(--cor-texto-secundaria);
}